body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.movie-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 0.6em;
}

/* MEDIA */
@media(min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Movie Cards */
.movie-card {
  /* width: 300px;
  height: 450px; */
  width: auto;
  height: auto;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.movie-card .poster {
  position: relative;
  overflow: hidden;
}

.movie-card .poster:before {
  position: absolute;
  content: '';
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 40%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.movie-card:hover .poster:before {
  bottom: 0;
}

.movie-card .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-40px);
}

.movie-details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 95%;
  bottom: -400px;
  left: 0;
  box-sizing: border-box;
  transition: 0.7s;
  z-index: 2;
  color: #ffffff;
}

.movie-card:hover .movie-details {
  bottom: 0;
}

.movie-details h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 25px;
}

.movie-card p {
  
}

