body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.movie-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 0.6em;
}

/* MEDIA */
@media(min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Movie Cards */
.movie-card {
  /* width: 300px;
  height: 450px; */
  max-height: 445px;
  width: auto;
  height: auto;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.movie-card .poster {
  position: relative;
  overflow: hidden;
}

.movie-card .poster:before {
  position: absolute;
  content: '';
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 40%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.movie-card:hover .poster:before {
  bottom: 0;
}

.movie-card .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-40px);
}

.movie-details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  bottom: -450px;
  left: 0;
  box-sizing: border-box;
  transition: 0.7s;
  z-index: 2;
  color: #ffffff;
}

.movie-card:hover .movie-details {
  bottom: 0;
}

.movie-details h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: 700;
}

.movie-details h5 {
  font-size: 1.1em;
}

.movie-details h6 {
  font-size: 1em;
}

.movie-card p {
  font-size: 0.9em;
}

.movie-card-overview {
  padding-top: 18px;
}

.movie-card-overview p {
  margin-bottom: 2px;
}

.view-more {
  text-decoration: none;
  color: white;
}

.view-more:hover {
  color: white;
}

/* Single Movie Page */
.movie-content {
  color: white;
  margin-top: 20px;
  padding-top: 20px;
}

.movie-content h1{
  margin-bottom: 0;
}

.movie-content-poster {
  height: 450px;
  margin-top: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.movie-content-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
  align-items: top;
}

.movie-content-details {
  margin-top: 4px;
}

#runtime {
  padding-bottom: 20px;
}