body {
  margin: 0;
  padding: 0;
  background: white;
  /* background: linear-gradient(90deg, rgba(37,48,49,1) 0%, rgba(65,85,87,1) 95%); */
  font-family: 'Pontano Sans', sans-serif;
}

/* Navbar */
.navbar {
  /* background-color: #af473c; */
  background: linear-gradient(90deg, rgba(175,71,60,1) 30%, rgba(140,56,48,1) 95%);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247,247,247, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  border-color: rgb(247,247,247);
} 

button.navbar-toggler {
  color: #f7f7f7;
}

.navbar-toggle .icon-bar {
  background-color: #f7f7f7;
}

.icon-bar {
  color: #f7f7f7;
}

.navbar a {
  color: #f7f7f7;
}

.navbar a i {
  color: #581F18;
}

/* Search Bar */

.search-bar {
  margin-bottom: 0;
}

/* End Search Bar */

/* Now Playing/Homepage */
.banner {
  /* background-color: #3c3c3c; */
  
  /* color: #f7f7f7; */
  padding-top: 30px;
  padding-bottom: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: 10vw 30vw 10vw; */
  grid-gap: 1em;
  padding: 1em;
  margin: 0;
}

.in-theaters {
  grid-column: 1 / span 3;
}

.popular-movies {
  grid-column: 4 / span 5;
}

.banner {
  grid-column: 1 / span 5;
}

.homepage-title {
  grid-column: 1 / span 2;
}

.side-content-title {
  grid-column: 4 / span 5;
}

.gallery {
  grid-column: 1 / span 3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.side-content {
  grid-column: 4 / span 5;
}

@media screen and (max-width: 1024px) {
  .gallery {
    grid-column: 1 / span 5;
  }

  .in-theaters {
    grid-column: 1 / span 5;
  }

  .popular-movies {
    padding-top: 40px;
    grid-column: 1 / span 5;
  }
}

.close {
  background: none;
  color: #f7f7f7;
  border: 0;
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
}

.overlay figure {
  background: #f7f7f7;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

.gallery {
  display: grid;
  grid-gap: 0;
  line-height: 0;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 150px;
  /* grid-auto-rows: 100px; */
  /* grid-auto-flow: dense; */
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  margin-bottom: 0;

}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__overlay {
  background: #c6e0ff42;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  font-size: 12px;
  background: none;
  border: 2px solid #f7f7f7;
  color: #f7f7f7;
  text-transform: uppercase;
  background: (rgba(0, 0, 0, 0.7));
  padding: 5px;
}

.item__overlay button:hover {
  cursor: pointer;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.item1 {
  grid-row: span 4;
  grid-column: span 3;
}

.item2 {
  grid-row: span 2;
  grid-column: span 2;
}

.item3 {
  grid-row: span 2;
  grid-column: span 1;
}

item4 {
  grid-row: span 1;
  grid-column: span 1;
}

.item5 {
  grid-row: span 1;
  grid-column: span 1;
}

@media screen and (max-width: 768px) {
  .item1, .item2, .item3, .item4, .item5 {
    grid-row: span 2;
    grid-column: span 5;
  } 
}

.popular-titles {
  color: #3c3c3c;
}

.signup-content {
  /* background: #af473c; */
  background: linear-gradient(90deg, rgba(175,71,60,1) 30%, rgba(140,56,48,1) 95%);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 25px;
  color: #f7f7f7;
}

/* END HOMEPAGE */


/* Search Grid */
.movie-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 0.6em;
}

/* MEDIA */
@media(min-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Movie Cards */
.movie-card {
  /* width: 300px;
  height: 450px; */
  max-height: 445px;
  width: auto;
  height: auto;
  background: #000;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.movie-card .poster {
  position: relative;
  overflow: hidden;
}

.movie-card .poster:before {
  position: absolute;
  content: '';
  bottom: -300px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 40%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.movie-card:hover .poster:before {
  bottom: 0;
}

.movie-card .poster img {
  width: 100%;
  transition: 0.5s;
}

.movie-card:hover .poster img {
  filter: blur(2px);
  transform: translateY(-40px);
}

.movie-details {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 100%;
  bottom: -450px;
  left: 0;
  box-sizing: border-box;
  transition: 0.7s;
  z-index: 2;
  color: #f7f7f7;
}

.movie-card:hover .movie-details {
  bottom: 0;
}

.movie-details h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: 700;
}

.movie-details h5 {
  font-size: 1.1em;
}

.movie-details h6 {
  font-size: 1em;
}

.movie-card p {
  font-size: 0.9em;
}

.movie-card-overview {
  padding-top: 18px;
}

.movie-card-overview p {
  margin-bottom: 2px;
}

.view-more {
  text-decoration: none;
  color: #f7f7f7;
}

.view-more:hover {
  color: #f7f7f7;
}

/* Single Movie Page */
.movie-content {
  color: #f7f7f7;
  padding-top: 20px;
}

.movie-overview {
  line-height: 1.8em;
}

.movie-content h1{
  margin-bottom: 0;
}

.movie-content-poster {
  height: 450px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.movie-content-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 12px;
  align-items: top;
}

.movie-content-details {
  margin-top: 4px;
}

#runtime {
  padding-bottom: 20px;
}

.movie-interactions {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px; 
  margin-bottom: 24px;
  align-items: center;
}

.movie-interactions i{
  margin-right: 18px;
  font-size: 28px;
  padding-right: 0;
  color: #f7f7f7;
}

.movie-interactions a{
  margin-right: 18px;
  font-size: 28px;
  padding-right: 0;
}

.movie-interactions a:hover{
  cursor: pointer;
}

.top-billed-cast {
  margin-top: 50px;
  margin-bottom: 50px;
}

.actor-card {
  display: inline-block;
  height: 150px;
  width: auto;
  justify-content: space-around;
}

.actor-card p{
  padding: 0;
  margin: 0;
}

.actor-name {
  font-size: 18px;
}

.trailer {
  /* background: #af473c; */
  background: linear-gradient(90deg, rgba(175,71,60,1) 30%, rgba(140,56,48,1) 95%);
  padding-top: 50px;
  padding-bottom: 50px;
}

#movie-trailer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#f7f7f7;
  opacity:1;
}